default_language_version:
    python: python3.8
fail_fast: false
ci:
    skip: [readmegen]
    autoupdate_schedule: quarterly
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-builtin-literals
    -   id: check-ast
    -   id: check-docstring-first
    -   id: check-json
    -   id: detect-private-key
    -   id: check-toml
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

-   repo: https://github.com/humitos/mirrors-autoflake.git
    rev: v1.1
    hooks:
      - id: autoflake
        args: ['--in-place', '--remove-unused-variable']

-   repo: https://github.com/psf/black
    rev: '21.6b0'
    hooks:
      - id: black
-   repo: https://github.com/Pierre-Sassoulas/black-disable-checker
    rev: '1.0.1'
    hooks:
      - id: black-disable-checker
-   repo: https://github.com/pycqa/isort
    rev: '5.9.1'
    hooks:
      - id: isort
-   repo: local
    hooks:
      - id: readmegen
        name: readmegen
        description: >-
          Script to automatically generate readme.md
        entry: python ./.utils/utils.py
        language: python
        additional_dependencies:
          - babel~=2.9.0
          - tabulate~=0.8.9
        always_run: true
        pass_filenames: false
        require_serial: true
        verbose: true
